[Gitea HTTP]
title=Git Server (Gitea HTTP)
description=Gitea is a community managed lightweight code hosting solution written in Go.
ports=3000/tcp

[Gitea SSH]
title=Git Server (Gitea SSH)
description=Gitea is a community managed lightweight code hosting solution written in Go.
ports=222/tcp