[Mailcow]
title=Mailcow email server 
description=mailcow is a mail server suite based on Dovecot, Postfix and other open source software, that provides a modern web UI for user/server administration.
ports=25,465,587,143,993,110,995,4190,80,443/tcp
