[Teamspeak 3 - voice]
title=Teamspeak 3 voice
description=Teamspeak 3 UDP voice server
ports=9987/udp

[Teamspeak 3 - Files]
title=Teamspeak 3 file transfers
description=Teamspeak 3 file transfer service
ports=30033/tcp

[Teamspeak 3 - ServerQuery]
title=Teamspeak 3 ServerQuery
description=Teamspeak 3 ServerQuery service
ports=10011/tcp

[Teamspeak 3 - Full]
title=All of teamspeak 3
description=Allow all of teamspeaks features to be used
ports=10011,30033/tcp|9987/udp