[VerneMQ MQTT]
title=MQTT Broker (VerneMQ)
description=Scalable and Reliable Real-time MQTT Message Broker for IoT in the 5G Era
ports=1883,8083/tcp

[VerneMQ MQTTS]
title=MQTT Broker (VerneMQ) with TLS
description=Scalable and Reliable Real-time MQTT Message Broker for IoT in the 5G Era
ports=8883,8084/tcp
