# '{{ansible_managed}}'

[core]
prefix = \$
help_prefix = \$

nick = DumDuckBot
auth_username = {{ sopel_irc_user }}
auth_password = {{ sopel_irc_pass }}
auth_method = sasl

log_raw = false
logdir = /home/sopel/.sopel/log
pid_dir = /home/sopel/.sopel

host = irc.libera.chat
use_ssl = true
verify_ssl = true
port = 6697

owner = Duckle
owner_account = Duckle
channels =
    "##botspam"
    "#reprap"
    "##electronics"
nick_blocks =
    mcrib
    ghtx
    electrobot

host_blocks =

enable =
    help
    admin
    clock
    find_updates
    reload
    currency
    remind
    version
    xkcd
    wolfram
    calc

[admin]
hold_ground = false
auto_accept_invite = true

[wikipedia]
default_lang = en

[clock]
tz = Europe/Copenhagen
time_format = [%Y-%m-%d - %T %Z]

[wolfram]
app_id = {{ wolfram_alpha_key }}
max_public = 3
units = metric

[currency]
fixer_io_key = {{ fixer_io_key }}
auto_convert = true

[youtube]
api_key = {{ youtube_api_key }}
info_items =
  length
  date
  views
  uploader
playlist_watch = true