[submodule ".\\roles\\nginx"]
	path = .\\roles\\nginx
	url = https://github.com/nginxinc/ansible-role-nginx.git
[submodule "roles/nodejs"]
	path = roles/nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs.git