# '{{ansible_managed}}'

server {
    listen              443 ssl http2;
    server_name         blog.{{ domain }};
    root                {{ blog_webroot }}/blog/public;
    include             snippets/ssl;

    location ~ /\.git {
        return 404;
    }
}