# '{{ansible_managed}}'
# From https://www.nginx.com/blog/websocket-nginx/

server {
    server_name mqtt.{{ domain }};

    listen 443 ssl;
    include snippets/ssl;

    location / {
        proxy_http_version 1.1;
        proxy_pass http://127.0.0.1:{{ portmap.mosquitto[0] }};
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade"; # This doesn't work if the mapping to "close" is used
    }
}