
fixer_io_key: "..."
wolfram_alpha_key: "..."
sopel_irc_user: "..."
sopel_irc_pass: "..."

acme_sh_default_dns_provider_api_keys:
  NAMECHEAP_USERNAME: "..."
  NAMECHEAP_API_KEY: "..."
  NAMECHEAP_SOURCEIP: "..."