
# Sopel IRC bot
fixer_io_key: "..."
wolfram_alpha_key: "..."
sopel_irc_user: "..."
sopel_irc_pass: "..."

# Deluged bittorrent daemon
deluge_user: "..."
deluge_pass: "..."

acme_sh_default_dns_provider_api_keys:
  CF_Key: ""
  CF_Email: ""