[core]
log_raw = false
logdir = /var/log/sopel
pid_dir = /run/sopel
db_filename = /etc/sopel/default.db

prefix = \$
help_prefix = \$

nick = {{ sopel_irc_user }}
auth_username = {{ sopel_irc_user }}
auth_password = {{ sopel_irc_pass }}
auth_method = sasl

host = chat.freenode.net
use_ssl = true
verify_ssl = true
port = 6697

owner = Duckle
channels = ##botspam,#reprap,#bigdelta
nick_blocks = kthx,mcrib,gthx
host_blocks =

enable = help,admin,clock,find_updates,reload,currency,remind,search,version,wikipedia,xkcd,wolfram,calc

[admin]
hold_ground = false
auto_accept_invite = true

[wikipedia]
default_lang = en

[clock]
tz = Europe/Copenhagen
time_format = [%Y-%m-%d - %T %Z]

[wolfram]
app_id = {{ wolfram_alpha_key }}
max_public = 2
units = metric

[currency]
fixer_io_key = {{ fixer_io_key }}
enable_regex = true