"use strict";

module.exports = {
	// ## Server settings
	public: false,
	host: '127.0.0.1',
	port: 9000,
	bind: undefined,
	reverseProxy: true,
	maxHistory: 10000,
	https: {
		enable: false,
		key: "",
		certificate: "",
		ca: "",
	},

	// ## Client settings
	theme: "morning",
	prefetch: true,
	prefetchStorage: true,
	prefetchMaxImageSize: 10240,
	fileUpload: {
		enable: true,
		maxFileSize: 10240,
	},
	transports: ["polling", "websocket"],
	leaveMessage: "Poof goes the quack - The Lounge - https://thelounge.chat",

	// ## Default network
	defaults: {
		name: "Freenode",
		host: "chat.freenode.net",
		port: 6697,
		password: "",
		tls: true,
		rejectUnauthorized: true,
		nick: "thelounge%%",
		username: "thelounge",
		realname: "The Lounge User",
		join: "#thelounge",
	},
	lockNetwork: false,

	// ## User management
	messageStorage: ["sqlite"],
	useHexIp: false,
	webirc: null,
	identd: {
		enable: false,
		port: 113,
	},

	oidentd: null,

	// ## LDAP support

	ldap: {
		enable: false,
		url: "ldaps://example.com",
		tlsOptions: {},
		primaryKey: "uid",
		searchDN: {
			rootDN: "cn=thelounge,ou=system-users,dc=example,dc=com",
			rootPassword: "1234",
			filter: "(objectClass=person)(memberOf=ou=accounts,dc=example,dc=com)",
			base: "dc=example,dc=com",
			scope: "sub",
		},
	},

	// ## Debugging settings
	debug: {
		ircFramework: false,
		raw: false,
	},
};