#!/bin/ash

cp /certs/{{ domain }}.pem  /mosquitto/certs/
cp /certs/{{ domain }}.key  /mosquitto/certs/
cp /certs/{{ domain }}.ca   /mosquitto/certs/
cp /certs/dhparams.pem      /mosquitto/certs/

user="$(id -u)"
if [ "$user" = '0' ]; then
        [ -d "/mosquitto" ] && chown -R mosquitto:mosquitto /mosquitto || true
fi

exec "$@"
